# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/

# Data files
data/
ml-latest-small/
*.csv
*.zip

# Secrets
secrets.toml